{% extends 'layout.html' %}
{% block content %}
    <h4 style="display: inline;">Budget details</h4><button style="display: inline-block; font-size: .75rem; margin: 0 4vw;" class="btn btn-secondary" onclick="window.location.href='{% url 'render-budget-edit' pk=pk %}'">Edit budget</button>
    <div class="form-group">
        <label>Budget name</label>
        <input disabled id="budgetName" class="form-group">
    </div>
    <table id="incomeAndExpenseTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Title</th>
                <th>Value</th>
            </tr>
        </thead>
    </table>
    
    <script>

        function createTable(data) {

        $('#incomeAndExpenseTable thead tr').clone(true).appendTo( '#incomeAndExpenseTable thead' );
        $('#incomeAndExpenseTable thead tr:eq(1) th').each( function (i) {
            
            if (i < 7) {
                var title = $(this).text();
                if (i < 6) {
                    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
                } 
            
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            }
        } );

        let table = $('#incomeAndExpenseTable').DataTable({
            data: data,
            orderCellsTop: true,
            fixedHeader: true,
            columnDefs: [
                // {
                // "targets": -1,
                // "data": 5,
                // "defaultContent": "<button class='budget-details-button'>Details</button>"
                // }
            ]
        });

        }

        const incomes = {{ incomes | safe }}
        const expenses = {{ expenses | safe }}
        const name = "{{ name | safe }}"
        data = incomes.concat(expenses)
        data = data.map(x => x)
        let parsed_data = data.map(x => Object.values(x))
        createTable(parsed_data)
        $('#budgetName')[0].value = name;

        // define keyups for instant filtering
        // $('#minDelay, #maxDelay, #minChance, #maxChance').keyup( function() {
        //     table.draw();
        // } );
    </script>
    <script>
        // $('document').ready(getAllBudgets)
    </script>
    
{% endblock %}